{% extends "registration/login.html" %}

{% load django_bootstrap_breadcrumbs %}


{% block migas %}
{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Password reset" 'password_reset_done' %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<p class="lead">Password reset submitted</p>
<p>We have sent you an email with instructions to reset your password.</p>
<p>If you don't receive an email, be sure that you have an account with that email, verify you typed it correctly, and verify your spam folder.</p>
{% if not user.is_authenticated %}
<p><a type="button" class="btn btn-primary" href="{% url 'login' %}">Go to login page</a></p>
{% endif %}
{% endblock %}



