{% extends "registration/login.html" %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}


{% block migas %}
{% block breadcrumbs %}
	{% clear_breadcrumbs %}
    {% breadcrumb_safe "Reset password" 'password_reset' %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block menu %}
{% endblock %}
{% block content %}
{{ form.media }}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p><input type="submit" class="btn btn-primary" value="Reset password"></p>
</form>
{% endblock %}

