{% extends "registration/login.html" %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block migas %}
{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Password reset" 'password_reset' %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block menu %}
{% endblock %}
{% block content %}
<p class="lead">Password reset</p>
<p>Forgot your password? Enter your email and we'll send you instructions in order to set a new password.</p>
{{ form.media }}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p><input type="submit" class="btn btn-primary" value="Reset my password"></p>
</form>
{% endblock %}

