{% extends "registration/login.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block extra_head %}
{% endblock %}

{% block migas %}
{% block breadcrumbs %}
	{% clear_breadcrumbs %}
    {% breadcrumb "Password reset complet" 'password_reset_complete' %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<p class="lead">The password has been reseted</p>
<p><a type="button" class="btn btn-primary" href="{% url 'login' %}">Go to login page</a></p>
{% endblock %}



