{% extends "nutritionalinfo_list.html" %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block migas %}
{% block breadcrumbs %}
		{{ block.super }}
    	{% breadcrumb_safe "<i class='fas fa-plus-circle'></i> Add" 'nutritionalinfo:nutrinfo-create' %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create a new Nutritional Information entry</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Create</button>
        </form>
    </div>
</div>
{% endblock %}