{% extends "nutritionalinfo_detail.html" %}
{% load bootstrap4 %}

{% load django_bootstrap_breadcrumbs %}

{% block migas %}
{% block breadcrumbs %}
		{{ block.super }}
    	{% breadcrumb_safe "<i class='fas fa-trash-alt'></i> Delete" 'nutritionalinfo:nutrinfo-delete' object.id %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete Nutritional Information entry #{{object.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete <strong>{{ object }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
        </form>
    </div>
</div>
{% endblock %}