{% extends "nutritionalinfo_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block migas %}
{% block breadcrumbs %}
		{{ block.super }}
    	{% breadcrumb_safe "<i class='fas fa-eye'></i> Detail" 'nutritionalinfo:nutrinfo-detail' object.pk %}
{% endblock %}
{% render_breadcrumbs "breadcrumbs.html" %}
{% endblock %}

{% block content %}

<div class="row card mx-auto">
    <div class="card-header">
        <h3 class="card-title">Nutritional Information Detail #{{nutrinfo.id}}</h3>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9">{{ nutrinfo.name }}</dd>
      <dt class="col-sm-3">Unit:</dt>
      <dd class="col-sm-9">{{ nutrinfo.unit }}</dd>
    </dl>

    </div>
</div>
<br/>
{% if user.is_authenticated %}
<div class="row">
  <div class="col col-9"><a class="btn btn-secondary" type="button" href="{% url 'nutritionalinfo:nutrinfo-update' nutrinfo.pk %}">Edit</a></div>
  <div class="col col-3"><a class="btn btn-danger" type="button" href="{% url 'nutritionalinfo:nutrinfo-delete' nutrinfo.pk %}">Delete</a></div>
</div>
{% endif %}
{% endblock %}